@model AddPasswordViewModel
<h2>Add Password</h2>
<p class="text-info">
    You have used an external account to login and do not have a local username/password.
    set a new password if you want to login using a local account. Use your email as the username.
</p>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="mb-3">
                <label asp-for="NewPassword" for="exampleInputPassword1" class="form-label">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="NewPassword " class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="ConfirmPassword " class="text-danger"></span>
            </div>
            <span asp-validation-summary="all" class="text-danger "></span>
            <button type="submit" class="btn btn-primary">Set Password</button>
            
        </form>
    </div>
</div>