@model ChangePasswordViewModel

<h2>Change Password</h2>
<hr />

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="mb-3">

                <label asp-for="CurrentPassword" for="exampleInputPassword1" class="form-label">Current Password</label>
                <input asp-for="CurrentPassword" type="password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="CurrentPassword " class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" for="exampleInputPassword1" class="form-label">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="NewPassword " class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" for="exampleInputPassword1" class="form-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1">
                <span asp-validation-for="ConfirmPassword " class="text-danger"></span>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>